KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

CUSTOMER_POSTGRES_DB=
CUSTOMER_POSTGRES_USER=
CUSTOMER_POSTGRES_PASSWORD=

PRODUCT_POSTGRES_DB=
PRODUCT_POSTGRES_USER=
PRODUCT_POSTGRES_PASSWORD=

ORDER_POSTGRES_DB=
ORDER_POSTGRES_USER=
ORDER_POSTGRES_PASSWORD=
